body
{
	color: white;
}

.test
{
	color: black;
}

center input{
	width: 80%;
}

center form input{
	width: auto;
}

input{
	text-align: center;
}

.info{
	display: inline;
	position: relative;
	float: left;
	height: 97%;
	width: 20%;
	background-image: url("info_Background.jpg");
}

.lg{
	position: relative;
	left: 40%;
}

.deco{
	text-align: center;
}

.logo{
	display: inline;
	position: absolute;
	height: 97%;
	overflow: scroll;
	width: 78%;
	border-left: 1px solid white;
	background-image: url("Background.jpg");
}

.bas{
	display: inline,block;
	position: relative;
	/*border: 2px solid red;*/
}

.tableau {
	display: inline,block;
	position: relative;
	
}
table

{
    border-collapse: collapse;
}
td, th
{
	border: 1px solid white;
}
